# Sobre o notebook

Aproveite esse espaço para as atividades do curso de **IA aplicada a Data Science: utilizando IA na construção de visualização de dados** da Alura. Aqui você pode escrever e testar os códigos dos diversos exercícios do **Mão na Massa** envolvendo os aprendizados de cada aula.

Este notebook foi construído com espaços para adicionar o prompt que será utilizado para criar o código pelo ChatGPT e as células dos desafios propostos no curso, com eles você tem espaço para construir e executar suas soluções.

Logo abaixo, temos as url's onde estão localizadas as bases utilizadas no projeto juntamente com a url com dados que utilizaremos também no desafio

In [1]:
url_clientes = "https://raw.githubusercontent.com/alura-cursos/ia-datascience-dataviz/main/dados/zoop_clientes.csv"
url_vendas = "https://raw.githubusercontent.com/alura-cursos/ia-datascience-dataviz/main/dados/zoop_vendas.csv"
url_zoop_pay = "https://raw.githubusercontent.com/alura-cursos/ia-datascience-dataviz/main/dados/cadastro_zoop_pay.csv"

In [2]:
import pandas as pd

In [4]:
clientes = pd.read_csv(url_clientes)
clientes

,ID_compra,ID_cliente,cidade,uf,regiao,idade,sexo_biologico,cashback,avaliacao_compra
0,904,8972,Natal,Rio Grande do Norte,Nordeste,49,Masculino,Não,9
1,4613,5120,São Paulo,São Paulo,Sudeste,49,Feminino,Não,9
2,5579,1847,São Paulo,São Paulo,Sudeste,24,Feminino,Não,8
3,2405,2846,São Paulo,São Paulo,Sudeste,38,Feminino,Sim,7
4,2485,2715,Salvador,Bahia,Nordeste,30,Feminino,Não,10
...,...,...,...,...,...,...,...,...,...
6164,700,3769,Guarujá,São Paulo,Sudeste,29,Feminino,Sim,10
6165,1772,4557,Rio de Janeiro,Rio de Janeiro,Sudeste,31,Masculino,Não,9
6166,6011,8531,Natal,Rio Grande do Norte,Nordeste,48,Feminino,Não,9
6167,4684,9875,Guarujá,São Paulo,Sudeste,37,Feminino,Sim,9
6168,732,3983,Guarujá,São Paulo,Sudeste,55,Masculino,Não,8

In [5]:
vendas = pd.read_csv(url_vendas)
vendas

,ID_compra,data,horario,categoria,preco_unitario,quantidade,frete,metodo_pagamento
0,6,2023-01-03,20:40,Eletrônicos,4457.9,4,713.26,Boleto
1,5,2023-01-03,21:48,Ferramentas e construção,115.9,1,0.00,PIX
2,9,2023-01-03,17:08,Beleza e cuidados pessoais,68.9,2,13.78,Cartão de Crédito
3,4,2023-01-03,14:29,Ferramentas e construção,80.9,5,40.45,PIX
4,8,2023-01-03,18:02,Beleza e cuidados pessoais,165.0,4,0.00,PIX
...,...,...,...,...,...,...,...,...
6164,6141,2023-12-31,17:49,Eletrodomésticos,1509.9,5,377.48,Cartão de Crédito
6165,6148,2023-12-31,23:02,Papelaria e escritório,14.0,2,3.36,PIX
6166,6123,2023-12-31,21:25,Alimentos e bebidas,77.9,1,7.79,Cartão de Crédito
6167,6147,2023-12-31,21:38,Livros,142.9,4,17.15,Cartão de Crédito
6168,6122,2023-12-31,22:11,Beleza e cuidados pessoais,89.9,5,13.48,Cartão de Crédito

In [6]:
zoop_pay = pd.read_csv(url_zoop_pay)
zoop_pay

      ID_cliente zoop_pay
0           6149      Não
1           9491      Sim
2           5288      Não
3           9679      Sim
4           1380      Não
...          ...      ...
4448        5291      Não
4449        6035      Não
4450        7361      Não
4451        4516      Não
4452        8022      Sim

[4453 rows x 2 columns]

## Aula 01 - Conhecendo os dados

### Mão na Massa - Zoop Pay

> #### <strong><font color="#203f75" size= 6>Prompt:</font></strong>

Estou criando uma análise de dados em Python utilizando a biblioteca Pandas. Me ajude escrevendo o passo a
passo do código.

Preciso ler três url's contendo tabelas csv, sendo clientes,vendas e zoop_pay.
Os arquivos que vamos utilizar são:
Dados de clientes do e-commerce da Zoop, separados pelo código identificador da compra (ID_compra). 
Dados de vendas do e-commerce da Zoop em 2023, separados pelo código identificador da compra.
Dados de clientes pré-cadastrados no Zoop Pay, carteira digital da Zoop em processo de implementação.

Primeiro, junte os dados de clientes e vendas em uma tabela com nome df.

Segundo, organize as colunas na seguinte sequência:
["ID_compra", "data", "horario", "categoria", "preco_unitario", "quantidade", "frete", "metodo_pagamento", "ID_cliente", "idade", "sexo_biologico", "cidade", "uf", "regiao", "cashback", "avaliacao_compra"]

Terceiro: junte a tabela criada (clientes+vendas) com a base de dados clientes pré-cadastrados 
no Zoop Pay, gerando assim a tabela consolidada com todos os dados.

In [13]:
# Realizar a junção entre clientes e vendas com base em "ID_compra"
df = pd.merge(clientes, vendas, on='ID_compra')

In [ ]:
# Reorganizar as colunas na ordem
colunas_ordenadas = [
    "ID_compra", "data", "horario", "categoria", "preco_unitario", "quantidade",
    "frete", "metodo_pagamento", "ID_cliente", "idade", "sexo_biologico",
    "cidade", "uf", "regiao", "cashback", "avaliacao_compra"
]

In [15]:
# Manter apenas as colunas que existem no dataframe
colunas_existentes = [col for col in colunas_ordenadas if col in df_consolidado.columns]
df_consolidado = df_consolidado[colunas_existentes]

In [16]:
# Juntar o resultado com os dados do Zoop Pay, também pela chave "ID_compra"
df_consolidado = pd.merge(df, zoop_pay, on='ID_cliente')

In [17]:
df_consolidado.head()

,ID_compra,ID_cliente,cidade,uf,regiao,idade,sexo_biologico,cashback,avaliacao_compra,data,horario,categoria,preco_unitario,quantidade,frete,metodo_pagamento,zoop_pay
0,904,8972,Natal,Rio Grande do Norte,Nordeste,49,Masculino,Não,9,2023-04-23,16:51,Alimentos e bebidas,65.9,1,5.27,Cartão de Crédito,Não
1,4613,5120,São Paulo,São Paulo,Sudeste,49,Feminino,Não,9,2023-11-23,15:48,Alimentos e bebidas,78.9,4,0.00,PIX,Não
2,5579,1847,São Paulo,São Paulo,Sudeste,24,Feminino,Não,8,2023-12-17,21:49,Livros,64.9,5,0.00,Cartão de Débito,Não
3,2405,2846,São Paulo,São Paulo,Sudeste,38,Feminino,Sim,7,2023-07-28,19:32,Alimentos e bebidas,79.9,2,0.00,PIX,Sim
4,2485,2715,Salvador,Bahia,Nordeste,30,Feminino,Não,10,2023-08-03,16:00,Casa e limpeza,75.9,5,30.36,Cartão de Crédito,Não

## Aula 02 - Visualizando os dados

### Mão na Massa - Gerando visuais em relação a localidade

#### Desafio 1:

> #### <strong><font color="#203f75" size= 6>Prompt:</font></strong>

Escreva aqui o prompt que você utilizou para gerar o código do desafio!

#### Desafio 2:

> #### <strong><font color="#203f75" size= 6>Prompt:</font></strong>

Escreva aqui o prompt que você utilizou para gerar o código do desafio!

## Aula 03 - Gerando mais visuais

### Mão na Massa - Perfil dos clientes

#### Desafio 1:

> #### <strong><font color="#203f75" size= 6>Prompt:</font></strong>

Escreva aqui o prompt que você utilizou para gerar o código do desafio!

#### Desafio 2:

> #### <strong><font color="#203f75" size= 6>Prompt:</font></strong>

Escreva aqui o prompt que você utilizou para gerar o código do desafio!

## Aula 04 - Técnicas de storytelling

### Paleta de Cores

Vamos compartilhar aqui a paleta de cores que usamos durante o curso pra você executar e usar em seu projeto, mas sinta-se livre para construir a sua própria.

In [8]:
# Adicionando as cores como variáveis do projeto
VERMELHO_1,	VERMELHO_2,	VERMELHO_3 = "#e23155",	"#cc2c4e", "#b32742"
AZUL_1,	AZUL_2,	AZUL_3 = "#203f75",	"#1c3867", "#19325b"
BRANCO,	CINZA_1, CINZA_2, CINZA_3, CINZA_4,	CINZA_5 = "#ffffff", "#ebebeb",	"#d9d9d9", "#cccccc", "#555655", "#231f20"
AQUA_1,	AQUA_2,	AQUA_3 = "#addcd4",	"#9fccc5", "#96bfb9"

### Mão na Massa - Refinando os visuais escolhidos

#### Desafio 1:

##### Gráfico sem refinamento

> #### <strong><font color="#203f75" size= 6>Prompt:</font></strong>

Escreva aqui o prompt que você utilizou para gerar o código do desafio!

#### Desafio 2:

##### Gráfico sem refinamento

> #### <strong><font color="#203f75" size= 6>Prompt:</font></strong>

Escreva aqui o prompt que você utilizou para gerar o código do desafio!